/*********************************************
			   Menu Derecho
***********************************************/

.menu {
	display: inline-block;
	margin-right: 20px;
	margin-top: 20px;
	float: right;
	list-style-type: none;
}

.menu a {
	margin: -2px;
	display:block;
	padding: 15px 15px;
	color: #666;
	text-decoration: none;
	background-color: #fff;
	border-radius: 100%;
}

.menu li {
	position: relative;
	float: left;
	margin: 0;
	-webkit-perspective: 200;
	perspective: 200;
	cursor: pointer;
}

.logo {
	cursor: pointer;
	position: relative;
	top:-15px;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}

.logo:hover {
	height: 200px;
	top:-20px;
	left:-5px;
}

.menu li:first-child {
	border-left: none;
}

.menu li.parent:before {
	content: '';
	z-index: 200;
	position: absolute;
	top: 100%;
	left: 50%;
	margin-top: -4px;
	margin-left: -9px;
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7px 8px 0 10px;
	border-color: #fff transparent transparent transparent;
	-webkit-transition: margin-top .1s ease-out;
	transition: margin-top .1s ease-out;
}

.menu li:hover > a, .menu li:focus > a {
	text-decoration: none;
	color: #fff;
	background-color: rgb(0,122,204);
}

.menu li:hover:before, .menu li:focus:before {
	margin-top: -1px;
	border-top-color: rgb(0,122,204);
	z-index: 10000;
}

.menu li:hover .children, .menu li:focus .children {
	opacity: 1;
	-webkit-transform: rotateX(0) translateZ(0);
	transform: rotateX(0) translateZ(0);
}

.menu .children {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin: top center;
	-ms-transform-origin: top center;
	transform-origin: top center;
	-webkit-transition: -webkit-transform 0.4s cubic-bezier(0.17, 0.67, 0.59, 1.21), opacity 0.1s 0.1s;
	transition: transform 0.4s cubic-bezier(0.17, 0.67, 0.59, 1.21), opacity 0.1s 0.1s;
	z-index: 1000;
	list-style-type: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 130px;
	margin: 0;
	padding: 10px 0;
	background-color: #fff;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
	text-align: left;
}

.menu .children li {
	float: none;
}

.menu .children a {
	background-color: transparent;
}

.menu .children a:hover, .menu .children a:focus {
	color: #666;
	background-color: #f9f9f9;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.sublist {
	position: relative;
	right: 69px;
}

.sublist a {
	border-radius: 0;
	margin: 0;
}







/*********************************************
			   Menu Izquierdo
***********************************************/

.menu2 {
	display: none;
	margin-left: 20px;
	margin-top: 20px;
	float: left;
	list-style-type: none;
}

.menu2 a {
	margin: -2px;
	display:block;
	padding: 15px 15px;
	color: #666;
	text-decoration: none;
	background-color: #fff;
	border-radius: 100%;
}

.menu2 li {
	position: relative;
	float: left;
	margin: 0;
	-webkit-perspective: 200;
	perspective: 200;
	cursor: pointer;
}

.logo2 {
	cursor: pointer;
	position: relative;
	top:-15px;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}

.logo2:hover {
	height: 90px;
	top:-20px;
	left:-5px;
}

.menu2 li:first-child {
	border-left: none;
}

.menu2 li.parent2:before {
	content: '';
	z-index: 200;
	position: absolute;
	top: 100%;
	left: 50%;
	margin-top: -4px;
	margin-left: -9px;
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7px 8px 0 10px;
	border-color: #fff transparent transparent transparent;
	-webkit-transition: margin-top .1s ease-out;
	transition: margin-top .1s ease-out;
}

.menu2 li:hover > a, .menu2 li:focus > a {
	text-decoration: none;
	color: #fff;
	background-color: rgb(0,122,204);
}

.menu2 li:hover:before, .menu2 li:focus:before {
	margin-top: -1px;
	border-top-color: rgb(0,122,204);
	z-index: 10000;
}

.menu2 li:hover .children2, .menu2 li:focus .children2 {
	opacity: 1;
	-webkit-transform: rotateX(0) translateZ(0);
	transform: rotateX(0) translateZ(0);
}

.menu2 .children2 {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin: top center;
	-ms-transform-origin: top center;
	transform-origin: top center;
	-webkit-transition: -webkit-transform 0.4s cubic-bezier(0.17, 0.67, 0.59, 1.21), opacity 0.1s 0.1s;
	transition: transform 0.4s cubic-bezier(0.17, 0.67, 0.59, 1.21), opacity 0.1s 0.1s;
	z-index: 1000;
	list-style-type: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 127px;
	margin: 0;
	background-color: #fff;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
	text-align: left;
}

.menu2 .children2 li {
	float: none;
}

.menu2 .children2 a {
	background-color: transparent;
}

.menu2 .children2 a:hover, .menu2 .children2 a:focus {
	color: #666;
	background-color: #f9f9f9;
}

.clearfix2:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.sublist2 {
	position: relative;
	left: -18px;
}

.sublist2 a {
	border-radius: 0;
	margin: 0;
}
