@font-face {
	font-family: Gotham;
	src: url(gotham-medium.ttf);
}

html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 20px 15px 20px;
}

.footer {
   /* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #70b0c8 0%, #1f83a7 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #70b0c8 0%, #1f83a7 100%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(top, #70b0c8 0%, #1f83a7 100%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #70b0c8), color-stop(1, #1f83a7));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #70b0c8 0%, #1f83a7 100%);
	
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #70b0c8 0%, #1f83a7 100%);
	
	max-width: 1140px;
	margin: 0 auto;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    padding-bottom: 10px;
    color: white;
}

.footer h4, .footer a {
	color: white;
}



.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/************************************************
*			                                    *
*                CUSTOM CSS   					*
*		 	  									*
************************************************/


/************** BUTTONS & HEADERS **************/

.btn.btn-default {
	background-color: #fc8127;
	color: white;
	text-transform: uppercase;
	line-height: 1;
  	border-radius: 16px;
  	padding: 12px;
}

.btn, h1, h2, h3, h4, h5, h6 {
	font-family: Gotham;
	letter-spacing: -1px
}

h4 {
	color: #fc8127;
}

.starred-offers h4 {
	color: #727272;
}

iframe {
	width:100%;
	border:none;
}

.jumbotron {
	padding: 0px 60px;
}

/************** NAV BAR **************/



.navbar-default {
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #F29533 0%, #FE761A 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #F29533 0%, #FE761A 100%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(top, #F29533 0%, #FE761A 100%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F29533), color-stop(1, #FE761A));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #F29533 0%, #FE761A 100%);
	
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #F29533 0%, #FE761A 100%);
	
	color: white;
	max-width: 1140px;
	margin: 0 auto;
	text-transform: uppercase;
	
}

.navbar-collapse {
	float:left
}

.navbar-header {
	/*display: none;*/
}

.navbar-default .navbar-brand {
  color: #FFF;
}

.navbar-default .navbar-nav > li > a {
  color: #FFF;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #FFF;
  font-weight: bold;
  background-color: rgba(255,255,255,0);
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover {
	background-color:#fc7b1e;
}


/************** ITEM - OFFER **************/

.cities {margin-top: 5px}
.description {font-size: 18px;}
.amount {font-size: 26px; margin-left: 5px; margin-top:3px}
.badge {border-radius:0px}
.review-string{font-weight: bold; font-size:12px}


/************** INDEX - HOME **************/

.site-index {
	margin-top:1%;
}

/*     */
[role="calendar-item"] {
	padding:5px;
}
[role="calendar-item"].selected-date {
	background:#eee;
}