/*ESTILOS PARA EL SLIDER DE LOS PRODUCTOS*/



.container_product_slide {
  max-width: 100%;
  background-color: black;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.container_product_slide div {
  background-color: white;
  width: 100%;
  display: inline-block;
  display: none;
}

.container_product_slide img {
  width: 100%;
  max-height: 320px;
  min-height: 320px;
}

.button_product_slide {
  cursor: pointer;
  position: absolute;
  font-size: 40px;
}

.next_product_slide {
  bottom: 135px;
  right: 25px;
}

.prev_product_slide {
  bottom: 135px;
  left: 0px;
}

.container_arrow_left {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: absolute;
  bottom: 125px;
  left: 18px;
}

.container_arrow_right {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: absolute;
  bottom: 125px;
  right: 22px;
}