/********************************************
			Definidas por Jesús
********************************************/

html {
	background: url('../images/bg_body.jpg') no-repeat;
	background-color: #d6baa2;
	background-size: cover;
}

.image_logo {
	margin-top: -65px;
}

.container_99 {
	width: 100%;
}

.menu_block  {
	width: 100%;
}

.slider {
	margin-left: 70px;
	margin-right: 80px;
}

.top {
	margin-top: 50px;
	margin-left: 5%;
}

.boxes {
	margin-left: 5%;
}

.grid_8, #tabs {
	width: 88%;
}

.up_footer {
	width: 100%;
}

#tabs {
	margin-left: 5%;
}

.news {
	margin-right: 0;
	margin-left: 0;
}

.tabs {
	width: 75%;
	margin-right: 0;
}

.news {
	width: 20%;
	margin-right: 5%;
}

.blue_footer {
	text-align: center;
	margin-bottom: 50px;
}

.sf-menu {
	width: 1015px;
    margin: 0px auto;
}

#active_web_edition img {
	width: 175px;
	height: auto;
}

#contact_blue_footer {
	margin-bottom: 20px;
}


/*********************************************
			Button Scroll Top
***********************************************/

#topDestiny {
	max-width: 360px;
	width: 30%;
}


/*********************************************
			Button Scroll Top
***********************************************/

.goTop {
	position: fixed;
	bottom: 30px;
	right: 30px;
	display: none;
	z-index: 999;
}

.goTop span {
	width: 38px;
	height: 38px;
	display: block;
	background: url(../images/totop2.png) no-repeat center center;
}



/*********************************************
		PAGE TICKETS AND SHOW PRODUCTS
***********************************************/

.tickets {
	margin-left: 5%;
	margin-top: 60px;
	width: 71%;
	margin-right: 0;
}

.show_product {
	margin: 5%;
	width: 90%;
}



/*********************************************
				Search Travels
***********************************************/

.search {
	margin-top: 60px;
	float: right;
	margin-left: 0;
	margin-right: 5%;
}

.form1 .mb0 span, .form1 label span {
	color: black;
	font-weight: bold;
}

#search {
	max-width: 160px;
}



/*********************************************
					Login
***********************************************/

.login {
	float: right;
	margin-right: 17px;
	font-family: Gotham;
	font-size: 18px;
	color: white;
	margin-top: 10px;
}

.site-login {
	margin-left: 20px;
	width: 300px;
	margin: 0 auto;
}

.site-login h1 {
	font-size: 38px;
	padding-top: 40px;
	padding-bottom: 10px;
}

.site-login p {
	padding-bottom: -10px;
}

.login_form {
	width: 100%
}

.text {
	text-align: center;
	position: relative;
	top: -40px;
	left: -30px;
}

.button {
	float: right;
}



/*********************************************
					Contact
***********************************************/

.stay_here {
	margin-left: 5%;
	margin-top: 60px;
	width: 45%;
}

.contact {
	margin-top: 60px;
	float: right;
	margin-right: 5%;
	width: 35%;
}

.textarea {
	max-width: 100%
}

.notice {
	float: right;
	margin-right: 5%;
	margin-top: -45px;
	letter-spacing: normal;
}



/*********************************************
					Others
***********************************************/

.special {
	margin-top: 20px;
}

.grid_special {
	margin-right: 15px;
	height: 200px;
}

.button_show {
	position: absolute;
	top: 160px;
}

.tour img {
  width: 220px;
  height: 143px;
}

.tours {
	width: 116%;
}

#special {
	width: 400px;
}

.map {
	width: 100%;
	position: relative;
	top: 30px;
}

.demo {
	width: 100%;
}

.map_and_slider {
	float: right;
	width: 47%;
}

.button_buy button {
	width: 150px;
	background-image: linear-gradient(to bottom, rgb(253, 124, 33) 0px, rgb(253, 124, 33) 100%);
}

.button_buy button:hover {
	background-color: rgb(253, 124, 33);
}

.no_ticket {
	margin-right: 20px;
	margin-top: 20px;
	opacity: 0.5;
	position: absolute;
	top: -20px;
}

.container_arrow_left, .container_arrow_right, .next_product_slide, .prev_product_slide {
	z-index: 998;
}

.google_button {
	position: relative;
	top: -32px;
	left: 260px;
	width: 100px;
}

#twitter-widget-0 {
	margin-left: 2px;
}

.more_information, .download_pdf {
	width: 150px;
}

.tab_image img {
	width: 240px;
	height: 130px;
}

#tabs-4 {
	overflow-y: scroll;
}

.last_news {
	border: 2px solid #fd8129;
	margin-bottom: 20px;
	padding: 15px;
}

.header_last_news {
	background-color: #4fbceb;
	margin-bottom: 10px;
	padding: 5px 0 5px 10px;
	color: white;
	font-size: 15px;
}

.shadow img {
	height: 336px;
}

#tabs-4 {
	height: 400px;
}

.send_email {
	margin-top: 10px;
}

.special select {
	font-size: 11px;
}

.description {
	width: 47%;
	margin-left: 20px;
	font-size: 13px !important;
}

.paragraph {
	margin-left: 20px;
}

.incorrect {
	margin-top: 8px;
	margin-left: -25px;
}

.callout {
    border-radius: 3px;
    padding: 15px 30px 15px 15px;
}

.callout.callout-warning {
	background-color: #dd4b39 !important;
	color: #fff !important;
	font-size: 15px;
}

.footer-fix3 {
	margin-top: 20px !important;
}

.spann {
	margin-bottom: 0px !important;
	height: 30px !important;
}

.oziobooking {
	height: 2600px;
	overflow-y: none;
}

















/*****************************************************************************************
			   						Formato Responsive
******************************************************************************************/

@media (max-width: 1360px) {

/******************************
	General Index and Slider
*******************************/

	.slider-block {
		max-height: 500px;
	}



/******************************
	General Index and Slider
*******************************/

	.menu_block {
		display: none;
	}



/******************************
	Menu index izquierdo
*******************************/

	.menu2 {
		display: inline-block;
		margin-left: 2.5%
	}



/******************************
	Menu index derecho
*******************************/

	.menu {
		display: inline-block;
		margin-right: 2.5%
	}

}








@media (max-width: 980px) {

/******************************
	Menu index izquierdo
*******************************/

	.fa-bars {
		font-size: 50px;
	}

	.menu2 a {
		padding: 15px 19px;
	}

	.children2 li {
		font-size: 50px;
	}

	.menu2 .children2 {
		width: 400px;
	}

	.sublist2 {
		left: -29px;
	}

	.children2 a {
		padding: 40px;
	}

	.two_lines {
		line-height: 50px;
	}


/******************************
	Menu index derecho
*******************************/

	.menu {
		display: inline-block;
		margin-right: 2.5%
	}

	.glyphicon-user {
		font-size: 50px;
	}

	.menu a {
		padding: 17px 19px;
	}

	.children li {
		font-size: 50px;
	}

	.menu .children {
		width: 465px;
	}

	.sublist {
		right: 360px;
	}

	.children a {
		padding: 40px;
	}



/******************************
	General Index and Slider
*******************************/

	.main {
		width: 95%;
	}

	.slider-block {
		max-height: 800px;
	}

	.banner div {
		font-size: 35px;
	}

	.banner span {
		font-size: 50px;
	}

	.sf-menu {
		width: 100%;
	}

	.top {
		font-size: 70px;
	}




/******************************
		Destinos Top
*******************************/

	.boxes {
		margin-left: 5%;
		margin-right: 5%;
	}

	#topDestiny {
		width: 100%;
		max-width: 100%;
	}

	.shadow img {
		width: 100%;
		height: 800px;
	}

	.boxes figure figcaption {
		width: 400px;
		padding: 15px 0px 0px 30px;
	}

	.boxes figure:hover img {
		margin-left: 300px;
	}

	.boxes figure:hover h3 {
		font-size: 70px;
		margin-bottom: 10px;
	}

	.boxes figure:hover note {
		font-size: 40px;
		line-height: 40px;
	}

	.boxes figure:hover a {
		padding: 30px 45px 30px;
    	font-size: 40px;
	}

	.shadow h3 {
		line-height: 70px;
	}




/******************************
			Tabs
*******************************/

	.tabs {
		width: 100%;
	}

	#tabs ul li a {
		padding: 15px 10px;
		font-size: 50px;
	}

	.tab_cont {
		padding: 53px 16px 20px;
	}

	.tab_cont img {
	    float: none;
	    margin-right: 0;
	    width: 100%;
	    margin-bottom: 30px;
	    height: 500px;
	}

	.tab_cont .text1 {
		font-size: 50px;
		line-height: 70px;
	}

	.text1 {
		padding: 7px 0 0 0;
	}

	.tab_cont a.btn {
	    margin-bottom: 20px;
		padding: 30px 45px 30px;
    	font-size: 40px;
	}

	.extra_wrapper {
	    font-size: 40px;
    	line-height: 40px;
	}

	#tabs ul li {
		min-width: 50%;
		padding: 15px 0;
	}

	#tabs-4 {
		height: 1000px;
	}

	.header_last_news {
	    line-height: 60px;
    	font-size: 40px;
    	padding: 5px;
	}

	.last_news p {
		font-size: 35px;
	    line-height: 40px;
	}



/******************************
		Links Blue Footer
*******************************/

	.list-footer ul li {
		font-size: 30px;
		padding-bottom: 10px;
		display: inline;
	}

	.list {
		margin-right: 100px;
	}

	.container_12 .grid_footer {
		width: 40%;
	}

	.footer-fix2 {
		width: 50%;
		margin-left: 10px;
    	position: relative;
    	left: 50px;
	}

	.list2 {
		margin-left: -25px;
	}

	.footer-fix3 {
		width: 40%;
		position: relative;
    	top: 30px;
    	left: 50px;
    	padding-bottom: 60px !important;
	}

	.footer-fix3 h4 {
		display: inline;
	    position: relative;
	    top: 10px;
	    font-size: 30px;
	}

	.footer-fix3 note {
		position: relative;
    	left: 20px;
	}

	.footer-fix3 a[href^="mailto:"] {
		position: relative;
    	top: 5px;
	}

	.note_footer {
		font-size: 20px;
	}

	.socials a {
		background: url(../images/socials-big.png) 0 0 no-repeat;
		width: 150px;
    	height: 150px;
	}

	.socials a+a {
		background-position: -180px 0;
	}

	.socials a+a+a {
	    background-position: -367px 0;
	}



/******************************
		Links Footer
*******************************/

	.copy {
		font-size: 40px;
    	line-height: 60px;
	}



/******************************
		Button Go Top
*******************************/

	.goTop span {
    	background: url(../images/totop2-big.png) no-repeat center center;
    	width: 110px;
    	height: 110px;
    	opacity: 0.7;
	}



/******************************
			News
*******************************/

	.news {
		margin-top: 80px;
	    width: 90%;
	    margin-left: 5%;
	    text-align: center;
	}

	.email {
		width: 100%;
	}

	.email input {
		font-size: 30px;
	}

	.newsletter_title {
		font-size: 60px;
    	padding: 20px 0;
	}

	.text1 {
		font-size: 30px;
	}

	.error {
		font-size: 30px;
	}

	.alert {
		font-size: 30px;
	}

	#newsletter input {
    	font-size: 40px;
    	height: 50px;
	}

	#newsletter a {
		height: 25px;
	}

	#newsletter .newsletter_img img {
		height: 50px;
		width: 50px;
	}

	#newsletter .newsletter_img {
		position: relative;
	    top: -50px;
	    left: 320px;
	}

	.n_container {
		height: 240px;
	}

	.send_email button {
		font-size: 40px;
	}




/******************************
	PRODUCTOS DETALLE PEQUEÑO
*******************************/

	#search {
		float: left;
		width: 95%;
		max-width: none;
		margin-left: 5%;
		z-index: 0;
	}

	#search h3 {
		font-size: 70px;
	}

	#search span {
		font-size: 25px;
	}

	.special {
		margin-right: 20px;
		width: 40%;
	}

	.special select {
		font-size: 30px;
	}

	#search select {
		height: 70px;
	}

	#search button {
		font-size: 40px;
	}



	.tickets {
		float: left;
		width: 95%;
	}

	.tickets h3 {
		font-size: 70px;
	}

	.tours {
		width: 100%;
	}

	#special {
		width: 95%;
		height: auto;
	}

	#special img {
		width: 100%;
		height: auto;
		max-height: 400px;
	}

	#special .extra_wrapper, #special form {
		float: left;
	}

	.tour .text1 {
		font-size: 60px;
    	margin-top: 20px;
    	margin-bottom: 30px;
    	line-height: 60px;
	}

	.button_show {
		right: 0;
    	top: 90%;
    	font-size: 40px;
	}

	.price {
		font-size: 45px;
		margin-bottom: 15px
	}

	.price span {
		font-size: 30px;
	}




/******************************
	  SHOW PRODUCTS CONTENT
*******************************/

	.show_product h3 {
		font-size: 70px;
	}

	.map_and_slider {
    	float: none;
    	width: auto;
	}

	.demo {
		width: 100%;
	}

	.container_product_slide img {
		height: 600px;
		max-height: none !important;
		min-height: none;
	}

	.container_arrow_left {
		bottom: 240px !important;
		width: 70px !important;
		height: 70px !important;
	}

	.prev_product_slide {
		bottom: 250px !important;
	}

	.container_arrow_right {
		bottom: 240px !important;
		width: 70px !important;
		height: 70px !important;
	}

	.next_product_slide {
		bottom: 250px !important;
		right: 50px !important;
	}

	.map iframe {
		height: 600px !important;
	}

	.description {
		width: 100%;
	}

	.show_product h1 {
		font-size: 60px !important;
	}

	.show_product p {
		font-size: 40px;
		line-height: 40px !important;
	}

	.show_product li {
		font-size: 50px !important;
		margin-bottom: 20px !important;
		text-decoration: none !important;
		margin-left: 50px !important;
		margin-top: 20px !important;
	}

	.paragraph {
		margin-left: 50px !important;
	}

	#twitter-widget-0 {
		margin-top: 25px !important;
		transform: scale(2) !important;
		margin-left: 140px !important;
	}

	#___follow_0 {
		transform: scale(2) !important;
		margin-left: 230px !important;
	}

	.fb-like {
		transform: scale(2) !important;
		margin-top: 25px !important;
	}

	.show_product form input {
		font-size: 40px !important;
		height: 60px !important;
		width: 150px !important;
	}

	.button_pdf_link button {
		font-size: 40px;
		width: 400px;
	}

	.button_buy button {
		font-size: 40px;
		width: 400px;
	}

	.download_pdf {
		margin-top: 25px !important;
	}

	.more_information {
		margin-top: 25px !important;
	}

	.group_pric {
		line-height: 60px !important;
	}

	.spann {
		height: 70px !important;
	}




/******************************
	  	MESSAJE COOKIES
*******************************/

	#overbox3 p {
		font-size: 50px !important;
	}

	#infobox3 {
		height: 300px !important;
	}




/******************************
	  	PAGINA ORGANIZE
*******************************/

	.bt1 {
		font-size: 40px !important;
		padding: 20px !important;
	}




/******************************
	  	LOGIN CONTENT
*******************************/

	.site-login {
		width: 80%;
	}

	.site-login h1 {
		font-size: 75px;
	}

	.site-login p {
		font-size: 28px;
		line-height: 40px;
	}

	.site-login form {
		margin-top: 20px;
	}

	.site-login label {
		font-size: 30px;
		margin-bottom: 10px;
	}

	.site-login .incorrect {
		margin-left: 0px;
	}

	.site-login button {
		font-size: 40px;
	}

	.site-login input {
		font-size: 60px;
		height: 70px;
	}


}
