.dataTable th {
	text-align: center;
}

.btn[disabled] {
	pointer-events: auto;
}

.special:hover {
	text-decoration: none;
}

.form-ticket, .form-sport {
	width: 50%;
	margin: 0 auto;
}

.next {
	float: right;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

input[readonly] {
  background-color: white !important;
  cursor: no-drop;
}

a:link {
    text-decoration: none;
}

.image2 {
  height: 143px;
  width: 220px;
  cursor: pointer;
  opacity: 1;
  margin-bottom: 10px;
}

.img_container {
  text-align: center;
  margin: 5px 0;
  float: left;
  width: 50%;
}

.img_container img {
  width: 97%;
}

.button_container {
  width: 100%;
  float: left;
}

.button_container input {
  margin-bottom: 5px;
}

.new_image {
  cursor: pointer;
  font-size: 150px;
}

.left_description {
    float: left;
    margin-right: 150px;
}

.modal-dialog {
  width: 50%;
}

.img_for_slider img {
  width: 150px;
  height: 150px;
  float: left;
  margin: 5px;
}

.img_for_slider img:hover {
  border: 5px red solid;
  cursor: pointer;
}

#button_menu {
	position: absolute !important;
	left: 100px !important;
	top: -2px !important;
}







/*****************************************************************************************
                    Formato Responsive
******************************************************************************************/


@media (max-width: 980px) {

    .form-ticket, .form-sport {
      width: 100%;
      margin-top: 20px;
    }

    .box-body select {
      width: 100% !important;
    }

    .ghost {
      overflow-x: scroll;
    }

    .ghost input {
      width: 100px !important;
    }

    .table_buy {
      overflow-x: scroll !important;
    }

    .modal_table_buy {
      width: 100% !important;
      margin: 0 !important;
    }

    .break_word {
      word-break: break-all !important;
    }

    .modal_body_table_buy {
      width: 100% !important;
    }

    .left_description, .right_description {
      width: 100%;
    }

}
